################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SoftWareHelper/obj/Debug
/SoftWareHelper/bin
/SoftWareHelper/obj/Release/TempPE
/SoftWareHelper/obj/Release
/Green/SoftWareHelper
/SoftwareHelper/bin
/SoftwareHelper/obj
/GitNew
/CutImageSolution
/Rubik
/WpfAnimationWeChat
/WPFCheckCode
/yanjinhuagood
