################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Nimble/obj/Debug
/Nimble/bin
/Nimble/obj/Release/TempPE
/Nimble/obj/Release
/.vs
/Nimble.v12.suo
/packages
/Nimble.sln.DotSettings.user
/Output
