################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SoftWareHelper/obj/Debug
/SoftWareHelper/bin
/SoftWareHelper/obj/Release/TempPE
/SoftWareHelper/obj/Release
/.vs
/SoftwareHelper.v12.suo
/packages
/SoftwareHelper.sln.DotSettings.user
