<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <appSettings>
    <add key="Dark" value="true"/>
    <add key="Opacity" value="100"/>
    <add key="EdgeHide" value="false"/>
    <!--CustomJson （true|false）
    false:每次启动都会重新扫描应用生成json脚本。
    true：可以自行配置json启动脚本，每次启动都不会扫新的应用。
    为true时候 自定义 application.json 文件时
    例如：
    
    {
        "ID": null,
        "Group": "",
        "Name": "VS 2019",
        "IconPath": "",
        "ExePath": "D:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/Common7/IDE/devenv.exe",
        "IsRemove": false
    }

   只需要保证 Name和ExePath 路径地址

    -->
    <add key="CustomJson" value="false"/>
    <add key="Startup" value="false"/>
	<add key="OpenWallpaper" value="false"/>
	<add key="WallpaperPath" value=""/>
  </appSettings>
</configuration>
